{extend name="public:base" /}
{block name="content"}
<link rel="stylesheet" href="__ADMIN__/css/index.css" />	


		      <div class="col-lg-8 col-md-12 col-sm-12 col-sx-12">
		      	<div class="panel panel-default">
		      		<div class="panel-heading">
						<h3 class="panel-title">
						<i class="fa fa-shopping-cart"></i>
						最新订单
						
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
							<td>订单号</td>
							<td>支付方式</td>
							<th>客户端</th> 
							<td>客户名称</td>
							<td>状态</td>
							<td>生成日期</td>
							<td>金额</td>
							<td>操作</td>
							</tr>
							</thead>
							<tbody>								
								{volist name="order_list" id="v" empty="$empty"}
								<tr>
									<td>
										{$v.order_num_alias}
									</td>
									<td>
										{$v.payment_code}
									</td>
									<td>
										{$v.reg_type}
									</td>
									<td>
										{if condition="$v['reg_type'] NEQ 'weixin'"}
											{$v.username}
										{else/}
											{$v.nickname}
										{/if}
									</td>
									<td>
										{$v.name}
									</td>
									<td>
										{$v.date_added|date='Y-m-d H:i:s',###}
									</td>
									<td>
										{if condition="$v['points_order'] EQ 1 "}
											积分 {$v.pay_points}
										{else/}
											&yen; {$v.total}
										{/if}										
									</td>
									<td>
										<a  class="btn btn-info" href='{:url("member/OrderBackend/show_order",array("id"=>$v["order_id"]))}'>
											<i class="fa-eye fa"></i>
										</a> 
									</td>
								</tr>
								{/volist}	
							</tbody>
						</table>
						
					</div>
		      	</div>
		      	
		      	
			  </div>
		    </div>
	</div>
</div>
{/block}
