{extend name="public:base" /}
{block name="head"}
	<link href="__PUBLIC__/view_res/mobile/css/discount.css" type="text/css" rel="Stylesheet" />
	<script>
		var pixclPatio = 1 / window.devicePixelRatio;
		document.write('<meta name="viewport" content="width=device-width,initial-scale='+pixclPatio+',minimum-scale='+pixclPatio+',maximum-scale='+pixclPatio+',user-scalable=no" />');
			
		var html = document.getElementsByTagName('html')[0];
		var pageWidth = html.getBoundingClientRect().width;
		html.style.fontSize = pageWidth /15 + 'px';
	</script>

{/block}

{block name="header"}
	{include file="public/top-nav" /}
{/block} 

{block name="content"}
	<div id="seckill_banner">
		<img src="/public/static/view_res/mobile/images/new_index/seckill_ads.png" alt="">
	</div>
	<div id="seckill_now" class="orange">
		<div class="countdown">
			<div class="logo_times"></div>
			<div class="subtitle">
				<p class="countdown_text" id="timeLimit">
				<strong>距离本场抢购开始还有</strong>
					<span class="box"></span><strong>小时</strong>
					<span class="box"></span><strong>分</strong>
					<span class="box"></span><strong>秒</strong>
				</p>
			</div>
		</div>
	</div>
	<div id="subtitle_next" class="red">
		<div class="next_seckill">
			<a href="{:url('Discount/index')}" class="next">查看上场抢购商品&gt;&gt;</a>
		</div>
	</div>
	<div id="seckill_items">
		<section class="seckill_list">
			{volist name="goods" id="v"}
			<a href="" class="sku_item">
				<img src="/public/uploads/{$v.0.image}" alt="">
				<div class="seckill_meta">
					
					<h4>{$v.0.name}</h4>
					<p class="seckill_price">
						<span>秒杀价</span>
						<span>&yen;<strong>{$v.discount_price}</strong></span>
						<del>&yen;{$v.0.price}</del>
					</p>

					
		         
		            	
		            	</dl>
            		
					<p class="seckill_btn">
						<button class="seckill_buy gray">敬请期待</button>
					</p>
					<h6>库存:{$v.0.quantity}份</h6>
				</div>
			</a>
			{/volist}
		</section>
	</div>
{/block} 
{block name="footer"} {include file="public/footer-nav" /} {/block}
{block name="script"}
<script>
	function countTime(){
		var date = new Date();
		var now =date.getTime();
		var start = new Date('{$timeon}').getTime();
		// start = start*1000;
		console.log(start)

		var leftTime = start-now;
		// console.log(leftTime);
		var h,m,s;
		if(leftTime>=0){
			// d= Math.floor(leftTime / 1000 / 60 / 60 / 24);
			h = (Math.floor(leftTime / 1000 / 60 / 60 / 24))*24+(Math.floor(leftTime/(1000*60*60))%24);
			m = Math.floor(leftTime / 1000 / 60 % 60);
			s = Math.floor(leftTime / 1000 % 60);
			// $('#timeLimit span:eq(0)').html(d);
			$('#timeLimit span:eq(0)').html(h);
			$('#timeLimit span:eq(1)').html(m);
			$('#timeLimit span:eq(2)').html(s);
			leftTime--;

			setTimeout(countTime, 1000);
		}else{
			$('.seckill_buy').remove('.gray');
			$('.seckill_buy').append('.red');
			$('.seckill_buy').html('马上抢');
		}
	}
	countTime();
</script>
{/block} 

