<footer id="footer">
<div class="wx_nav wx_nav_custom">
	<a href="">
		<img class="highlight" src="/public/static/view_res/mobile/images/H.png" alt="">
		<img class="normal" src="/public/static/view_res/mobile/images/H0.png" alt="">
		<span>小站秒杀</span>
	</a>
	<a href="">
		<img class="highlight" src="/public/static/view_res/mobile/images/P0.png" alt="">
		<img class="normal" src="/public/static/view_res/mobile/images/P.png" alt="">
		<span>品牌秒杀</span>
	</a>
	<a href="">
		<img class="highlight" src="/public/static/view_res/mobile/images/D0.png" alt="">
		<img class="normal" src="/public/static/view_res/mobile/images/D.png" alt="">
		<span>限时秒杀</span>
	</a>
	<a href="">
		<img class="highlight" src="/public/static/view_res/mobile/images/C.png" alt="">
		<img class="normal" src="/public/static/view_res/mobile/images/C0.png" alt="">
		<span>秒杀分类</span>
	</a>

</div>		
</footer>
<!-- 设置$flag这个变量且这个变量等于指定的值，就添加hover这个class
 -->