{extend name="public:base" /} 
{block name="head"}
		<link href="__PUBLIC__/view_res/mobile/css/MerchantShop.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/view_res/mobile/css/productlist.css" type="text/css" rel="Stylesheet" />
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="__PUBLIC__/js/bt/bootstrap.min.css" />
		<link rel="stylesheet" href="__ADMIN__/ace/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link href="__PUBLIC__/view_res/mobile/css/swiper.min.css" type="text/css" rel="Stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/view_res/mobile/css/reset.css" />

		<link href="__PUBLIC__/view_res/mobile/css/category.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/jquery-weui/dist/lib/weui.min.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/jquery-weui/dist/css/jquery-weui.min.css" type="text/css" rel="Stylesheet" />
		<script src="__PUBLIC__/jquery-weui/dist/js/jquery-weui.min.js"></script>

		<script src="__PUBLIC__/jquery-weui/src/lib/jquery-2.1.4.js"></script>
		<script src="__PUBLIC__/js/bt/bootstrap.min.js"></script>
{/block}

{block name="content"}

<input type="hidden" value="{$merchantid}" id="merchantid" />
		<div class="home_top">
			<img src="/public/static/view_res/mobile/images/merchant_images/shop-bgc.jpg" alt="背景图片" />
			<div class="home_title">
				<!--<img src="/public/static/view_res/mobile/images/merchant_images/logo.png" alt="" />-->
				<div class="home_content">
					<span>{$merchantname}</span>
					<div style="margin-top: 6px;">
						<span class="i-love"></span>
						<span class="i-love"></span>
						<span class="i-love"></span>
						<span class="i-love"></span>
					</div>
					<span class="num">105</span>
					<span class="text">粉丝数</span>
				</div>
			</div>
		</div><!--home_top-->
		
		<!--mainBox Start-->
		<div class="tabs" id="tabs">
			<li class="active"><a href="">8</a><span class="one">全部商品</span></li>
			<li><a href="">8</a><span>热销</span></li>
			<li><a href="">8</a><span>新品</span></li>
			<li><a href="">8</a><span>推荐</span></li>
		</div>
		
		<!--banner-->
		<div id="banner" class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="/public/static/view_res/mobile/images/merchant_images/shop-banner.png" alt="" /></div>
				<div class="swiper-slide"><img src="" alt="" /></div>
				<div class="swiper-slide"><img src="" alt="" /></div>
			</div>
		</div>
		<div id="viewCatRight"></div>
		<div id="tabs-container" class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div id="viewProduct">
						<div style="margin: 0 10px;"> </div>
					</div>
					
				</div><!--	第一屏-首页	-->
				
			</div><!--silde-wrapper-->
		</div><!--swiper-container-->
{/block}
		<!--swiper-->
	{block name="footer"} {include file="public/footer-nav" /} {/block}
	{block name="script"}	
		
		<script>
        // 对应分类id
        //var cat = $('#cat').val() !== '' && parseInt($('#cat').val()) !== 0 ? parseInt($("#cat").val()) : parseInt($('.viewCatTopItem').eq(0).attr('data-catid'));
        var cat = $('#merchantid').val()
        // 左侧按钮点击
        $('.viewCatTopItem').bind({'touchend touchcancel mouseup': function (event) {
                var node = $(this);
                event.preventDefault();
                if (cat !== node.attr('data-catid')) {
                    cat = node.attr('data-catid');
                    
                    $.showLoading();
                    
                    fnLoadCatlist(cat);
                    
                    setTimeout(function (){
				        $.hideLoading();		     
				    }, 500);
				    
                    $('.viewCatTopItem.hov').removeClass('hov');
                    node.addClass('hov');
                }
            }});

        // window resizer
        <!-- $(window).bind('resize', function () { -->
            <!-- // 调整高度 -->
            <!-- $('#viewCatRight').height($(window).height() - $('.search-w-box').height() - 35); -->
            <!-- $('#viewCatLeft').height($(window).height() - $('.search-w-box').height() - 20); -->
            <!-- $('#whiteWrap').height($('#viewCatRight').height() + 35); -->
            <!-- // 调整圆图标宽高 -->
            <!-- $('.subcat_item').each(function () { -->
                <!-- $(this).css({ -->
                    <!-- 'height': $(this).width() + 25 + 'px' -->
                <!-- }); -->
            <!-- }); -->
        <!-- }).resize(); -->

        // 默认load第一个分类的列表
        $('.viewCatTopItem[data-catid="' + cat + '"]').eq(0).addClass('hov');
        fnLoadCatlist(cat);

        /**
         *列表加载函数
         * @param {type} cat
         * @returns {undefined}
         */
      
        function fnLoadCatlist(cat) {
            if ($('#whiteWrap').length === 0) {
                $('#viewCatRight').append('<div id="whiteWrap"></div>');
            }
            $('#whiteWrap').height($('#viewCatRight').height() + 35);            
            
            $('#viewCatRight').load("{:url('merchant/get_merchant')}" +'/id/'+ cat,
                    function () {
                        // 调整圆图标宽高
                        $('.subcat_item img').each(function () {
                            $(this).css({
                                'height': $(this).width() + 'px'
                            });
                        });
                        $('.subcatBrand').width(($('#viewCatRight').width() / 2) - 15);
                    });
                  
        }
</script>
	{/block}
	{block name="javascript"}
	<script src="__PUBLIC__/view_res/mobile/swiper.min.js"></script>
		<script>
			window.onload=function(){
				var bannerSwiper = new Swiper('#banner',{
					autoplay:5000,
					visibilityFullFit:true,
					loop:true
					
				})
				
				var tabsSwiper = new Swiper('#viewCatRight', {
			        speed: 500,
			        on: {
			            slideChangeTransitionStart: function() {
			                $(".tabs .active").removeClass('active');
			                $(".tabs li").eq(this.activeIndex).addClass('active');
			            }
			        }
			    })
			    $(".tabs li").on('click', function(e) {
			        e.preventDefault()
			        $(".tabs .active").removeClass('active')
			        $(this).addClass('active')
			        tabsSwiper.slideTo($(this).index())
			    })




			    // 
			    var Oc=$(".tabs li");
			    console.log(Oc);
			    // (for(var Oc.le))

		</script>
	{/block}
{extend name="public:base" /} 
{block name="head"}
		<link href="__PUBLIC__/view_res/mobile/css/MerchantShop.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/view_res/mobile/css/productlist.css" type="text/css" rel="Stylesheet" />
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="__PUBLIC__/js/bt/bootstrap.min.css" />
		<link rel="stylesheet" href="__ADMIN__/ace/font-awesome/4.2.0/css/font-awesome.min.css" />
		<link href="__PUBLIC__/view_res/mobile/css/swiper.min.css" type="text/css" rel="Stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/view_res/mobile/css/reset.css" />

		<link href="__PUBLIC__/view_res/mobile/css/category.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/jquery-weui/dist/lib/weui.min.css" type="text/css" rel="Stylesheet" />
		<link href="__PUBLIC__/jquery-weui/dist/css/jquery-weui.min.css" type="text/css" rel="Stylesheet" />
		<script src="__PUBLIC__/jquery-weui/dist/js/jquery-weui.min.js"></script>

		<script src="__PUBLIC__/jquery-weui/src/lib/jquery-2.1.4.js"></script>
		<script src="__PUBLIC__/js/bt/bootstrap.min.js"></script>
{/block}

{block name="content"}

<input type="hidden" value="{$merchantid}" id="merchantid" />
		<div class="home_top">
			<img src="/public/static/view_res/mobile/images/merchant_images/shop-bg.jpg" alt="背景图片" />
			
			<div class="home_title">
				<!--<img src="/public/static/view_res/mobile/images/merchant_images/logo.png" alt="" />-->
				<div class="home_content">
					<span>{$merchantname}</span>
					<div style="margin-top: 6px;">
						<span class="i-love"></span>
						<span class="i-love"></span>
						<span class="i-love"></span>
						<span class="i-love"></span>
					</div>
					<span class="num">105</span>
					<span class="text">粉丝数</span>
				</div>
			</div>
		</div><!--home_top-->
		
		<!--mainBox Start-->
		<div class="tabs" id="tabs">
			<li class="Item active"><a href="">8</a><span class="one">全部商品</span></li>
			<li class="Item"><a href="">8</a><span>热销</span></li>
			<li class="Item"><a href="">8</a><span>新品</span></li>
			<li class="Item"><a href="">8</a><span>推荐</span></li>
		</div>
		
		<!--banner-->
		<div id="banner" class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="/public/static/view_res/mobile/images/merchant_images/shop-banner.png" alt="" /></div>
				<div class="swiper-slide"><img src="" alt="" /></div>
				<div class="swiper-slide"><img src="" alt="" /></div>
			</div>
		</div>
		<div id="viewCatRight"></div>
		<div id="tabs-container" class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div id="viewProduct">
						<div style="margin: 0 10px;"> </div>
					</div>
					
				</div><!--	第一屏-首页	-->
				
			</div><!--silde-wrapper-->
		</div><!--swiper-container-->
{/block}
		<!--swiper-->
	{block name="footer"} {include file="public/footer-nav" /} {/block}
	{block name="script"}	
		
		<script>
        // 对应分类id
        //var cat = $('#cat').val() !== '' && parseInt($('#cat').val()) !== 0 ? parseInt($("#cat").val()) : parseInt($('.viewCatTopItem').eq(0).attr('data-catid'));
        var cat = $('#merchantid').val()
        // 左侧按钮点击
        $('.Item').bind({'touchend touchcancel mouseup': function (event) {
                var node = $(this);
                event.preventDefault();
                if (cat !== node.attr('data-catid')) {
                    cat = node.attr('data-catid');
                    
                    $.showLoading();
                    
                    fnLoadCatlist(cat);
                    
                    setTimeout(function (){
				        $.hideLoading();		     
				    }, 500);
				    
                    $('.Item.active').removeClass('active');
                    node.addClass('active');
                }
            }});

        // window resizer
        <!-- $(window).bind('resize', function () { -->
            <!-- // 调整高度 -->
            <!-- $('#viewCatRight').height($(window).height() - $('.search-w-box').height() - 35); -->
            <!-- $('#viewCatLeft').height($(window).height() - $('.search-w-box').height() - 20); -->
            <!-- $('#whiteWrap').height($('#viewCatRight').height() + 35); -->
            <!-- // 调整圆图标宽高 -->
            <!-- $('.subcat_item').each(function () { -->
                <!-- $(this).css({ -->
                    <!-- 'height': $(this).width() + 25 + 'px' -->
                <!-- }); -->
            <!-- }); -->
        <!-- }).resize(); -->

        // 默认load第一个分类的列表
        $('.viewCatTopItem[data-catid="' + cat + '"]').eq(0).addClass('hov');
        fnLoadCatlist(cat);

        /**
         *列表加载函数
         * @param {type} cat
         * @returns {undefined}
         */
      
        function fnLoadCatlist(cat) {
            if ($('#whiteWrap').length === 0) {
                $('#viewCatRight').append('<div id="whiteWrap"></div>');
            }
            $('#whiteWrap').height($('#viewCatRight').height() + 35);            
            
            $('#viewCatRight').load("{:url('merchant/get_merchant')}" +'/id/'+ cat,
                    function () {
                        // 调整圆图标宽高
                        $('.subcat_item img').each(function () {
                            $(this).css({
                                'height': $(this).width() + 'px'
                            });
                        });
                        $('.subcatBrand').width(($('#viewCatRight').width() / 2) - 15);
                    });
                  
        }
</script>
	{/block}
	{block name="javascript"}
	<script src="__PUBLIC__/view_res/mobile/swiper.min.js"></script>
		<script>
			window.onload=function(){
				var bannerSwiper = new Swiper('#banner',{
					autoplay:5000,
					visibilityFullFit:true,
					loop:true
					
				});

				
		}	
		</script>
	{/block}
